<app-header></app-header>

<div class="toolbox">
  <h2>JSON Array Formatter</h2>
  <form action="">
    <div>
      <label for="separator">Separate BY</label>
      <input class="separator" name="separator" type="text" [(ngModel)]="separator" />
    </div>

    <label for="text-input">Input Text to separate</label>
    <input
      name="text-input"
      type="text"
      [(ngModel)]="inputKeywords"
      (ngModelChange)="debounceKeyword()"
      (blur)="convertString()"
    />
    <label for="text-output">Result:</label>
    <input name="text-output" type="text" disabled [(ngModel)]="outputKeywords" />
    <button
      type="button"
      (click)="copyToClipBoard(outputKeywords, keywordMessage)"
      [disabled]="!outputKeywords"
    >
      Copy Result
    </button>
    @if (keywordMessage()) {
      <p>{{ keywordMessage() }}</p>
    }
  </form>
</div>
<div class="toolbox">
  <h2>JSON Newlines Formatter</h2>
  <form action="">
    <div>
      <label for="replace-from">Replace</label
      ><input class="separator" type="text" name="replaceFrom" [(ngModel)]="replaceFrom" />
      <label for="replace-from">With</label
      ><input class="separator" type="text" name="replaceTo" [(ngModel)]="replaceTo" />
    </div>

    <label for="paragraph-input">Input:</label>
    <textarea
      name="paragraph-input"
      [(ngModel)]="inputParagraph"
      (ngModelChange)="debounceReplace()"
      (blur)="replaceString()"
    ></textarea>
    <label for="paragraph-output">Result:</label>
    <textarea name="paragraph-output" disabled [(ngModel)]="outputParagraph"></textarea>
    <button
      type="button"
      (click)="copyToClipBoard(outputParagraph, replaceMessage)"
      [disabled]="!outputParagraph"
    >
      Copy Result
    </button>
    @if (replaceMessage()) {
      <p>{{ replaceMessage() }}</p>
    }
  </form>
</div>

<div class="description">
  <p>
    This toolbox is a helper for JSON format parsing. It separates strings into JSON-accepted array
    format, and replaces newline characters with literal "\n" for copy-paste ready JSON-friendly
    format.
  </p>
  <h3>Made With Angular 20</h3>
  <h1>💙I LOVE NG💙</h1>
</div>
